---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
  <div class="container mx-auto my-2 px-8 bg-white">
    <h1 class="text-4xl font-bold">container</h1>
    <hr class="my-2" />
  </div>
</Layout>

<style>
</style>

<!--
<h1 class="text-4xl font-bold text-center">container</h1>
-->
