---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
  <div class="container mx-auto my-2 px-8 bg-white">
    <h1 class="text-4xl font-bold">Grid</h1>
    <hr class="my-2" />
    <div class="grid grid-cols-3 gap-2">
        <div class="bg-blue-400 text-center text-white p-2 rounded">1
        </div>
        <div class="bg-blue-400 text-center text-white p-2 rounded">2
        </div>
        <div class="bg-blue-400 text-center text-white p-2 rounded">3
        </div>
        <div class="bg-blue-400 text-center text-white p-2 rounded">4
        </div>
        <div class="bg-blue-400 text-center text-white p-2 rounded">5
        </div>
    </div>
  </div>
</Layout>

<!-- -->
<style>
</style>

<!--
<h1 class="text-4xl font-bold text-center">container</h1>
-->
