---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
    <div class="container mx-auto my-2 px-8 bg-white">
        <h1 class="text-4xl font-bold">form</h1>
        <hr class="my-2" />
        <table class="table-auto">
        <thead>
            <tr>
            <th class="px-4 py-2">Title</th>
            <th class="px-4 py-2">Author</th>
            <th class="px-4 py-2">Views</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td class="border px-4 py-2">Intro to CSS</td>
            <td class="border px-4 py-2">Adam</td>
            <td class="border px-4 py-2">858</td>
            </tr>
            <tr class="bg-gray-200">
            <td class="border px-4 py-2">A Long and Winding Tour of the History of UI Frameworks and Tools and the Impact on Design</td>
            <td class="border px-4 py-2">Adam</td>
            <td class="border px-4 py-2">112</td>
            </tr>
            <tr>
            <td class="border px-4 py-2">Intro to JavaScript</td>
            <td class="border px-4 py-2">Chris</td>
            <td class="border px-4 py-2">1,280</td>
            </tr>
        </tbody>
        </table>
        <hr class="mb-4" />

    </div>
</Layout>

<!-- -->
<style>
</style>

<!--
<h1 class="text-4xl font-bold text-center">container</h1>
-->
