---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <div class="container">
        <h3>test</h3>
        <hr />
        <h1 class="text-3xl font-bold underline">
        Hello world!
        </h1>
        <hr />
        ・Normal
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Normal-button</button>
        <hr />
        apply 適用  
        <button class="btn-green">Apply button</button>        
    </div>
</Layout>

<style>
</style>
<!-- -->
